<h1>Members of the <%= @facade.nation.capitalize %></h1>

<div class='total_members'>
  <p>Total Number of People: <%= @facade.member_count %></p>
</div>

<div class='member_data'>
  <ol>
    <% @facade.members.each do |member| %>
      <li class='member'>
        <ul>
          <% if member.photo_url %>
            <p class='char_img'>Photo: <%= image_tag(member.photo_url) %></p>
          <% end %>
          <p>Name: <%= member.name %></p>
          <p>Allies: <%= member.allies.join(", ") %></p>
          <p>Enemies: <%= member.enemies.join(", ") %></p>
          <p>Affiliation: <%= member.affiliation %></p>
        </ul>
      </li>
    <% end %>
  </ol>
</div>